* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid red;
}


body {
    display: flex;
    justify-content: center;
}

.app-container{
    display: flex;
    flex-direction: column;    /*maybe for flex*/
    align-items: center;
    border: 5px solid black;
    height: 75vh;
    width: 20vw;
}

.top-section-container{
    display: flex;
    align-items: center;
    height: 25vh;
    width: 100%;
    text-align: center;
    background-color: rgb(239, 222, 204);
}

 .top-section-container p{
    font-size: 18px;
    
}

.side-by-side-container{
    display: flex;
    flex-direction: row;
    
    height: 32vh;
    width: 100%;
    padding-top: 20px;
    justify-content: space-around;
}

.flower-container{
    width: 10vw;
    height: 30vh;
    
    text-align: center;
}

.color-changer-container{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 30vh;
    
    align-items: center;
    justify-content: center;
}

.color-square{
    height: 10vh;
    width: 5vw;
    background-color: red;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.color-buttons{
    width: 100%;
    height: 25px;
    margin-top: 10px;
    background-color: rgb(26, 188, 156);
    font-size: 16px;
    color: white;
    border: none;
}

.flower-image{
    width: 100px;
    padding-top: 50px;
}

.bottom-text-container{
    display: flex;
    width: 100%;
    height: 26%;
    text-align: center;
    align-items: center;
}

.bottom-text{
    font-size: 35px; 
}

.arrow-container{
    display: flex;
    justify-content: center;
}
.arrow-image{
    width: 50px;
}